@{
    ViewData["Title"] = "Home Page";
}
<form asp-controller="Korisniks" asp-action="Create">
    <div class="text-center">
        <h4 class="display-4">Добредојдовте</h4>
        <h7 class="display-7">Најавени сте како @User.Identity?.Name.</h7>
        <br /><br />
    </div>
</form>
