@{
    ViewData["Title"] = "Home Page";
}
<form asp-controller="Korisniks" asp-action="Create">
    <div class="text-center">
        <h4 class="display-4">Добредојдовте</h4>
        <h7 class="display-7">Моментално не сте најавени на системот.</h7>
        <br /><br />
        <div class="form-group">
            <input type="submit" value="Најавете се овде" class="btn btn-primary" />
        </div>
    </div>
</form>
